{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "extensions": [
          ".ios.js",
          ".android.js",
          ".json",
          ".js",
        ],
        "root": ["./src/**", "./app_assets/**"]
      }
    ]
  ]
}
